*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main1{
    width: 100vw;
    height: 100vh;
    background-image: url('main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav1{
    position: relative;
    /* top: 50px; */
    right: 0px;
}


.row1{
    background-color: #27324acc;
    width: 100vw;
}
#i-1{
    color: white;
    margin-top: 15px;
}
#i-1:hover{
    color: #FF5F13;
    transform: rotateY(180deg);
    transition: 0.9s;
}
#i-2{
    color: white;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
}
#i-2:hover{
    color: #FF5F13;
    transition: 0.9s;
}
#i-3{
    color:black;
    margin-top: 15px;
}
#i-3:hover{
    color: #FF5F13;
    transition: 0.9s;
}
.c1{
    border: 2px solid white;
}
#b1{
    background-color: black;
    position: relative;
    left: 75%;
}
.btn1{
    width: 90%;
    height:80%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FF5F13;
    color: white;
    font-family: sans-serif;
}
.btn1:hover{
    background-color: #E25311;
}
.c-1{
    color: white;
    font-size: 28px;
}
#u1{
    border-top: 5px solid #FF5F13;
}

#h-1{
    /* font-size: 125px; */
    color: #FF5F13;
    /* font-weight: 700; */
}




.content {
    display: flex;
	/* background: #07182853; */
	/* height: auto; */
	/* align-items: center; */
	justify-content: flex-end;
	position: relative;
    /* left: 1%; */
    top:50x;
}

.content h1 {
    /* background-color: #07182853 ; */
	color: #fff;
    /* height: 100%; */
    /* width: 100%; */
	font-size: 125px;
    font-weight: 700;
	position: absolute;
    right: -15%;
    top: 7.5px;
	transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px white;
}

.content h1:nth-child(2) {
	color: #FF5F13;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
.hc1{
    text-transform: uppercase;
    color: white;
    /* font-weight: 800;
    font-size: 18px; */
}
.hc-1{
    color: #FF5F13;
    position: relative;
    bottom: 9px;
}





/* section  2 */

.h2-1{
    /* font-size: 60px; */
    font-weight: 800;
    font-family: sans-serif;
    
}
.img2-1{
    /* width:416px ; */
    position: relative;
    right: 17px;
    top: 17px;
}
.i2-1{
    font-size: 50px;
}
#card2-1:hover{
    overflow: hidden;

    .i2-1{
        color: #FF5F13;
    }
    #img2{
        transform: scale(1.1);
        transition: 0.9s ease-in-out;
        transform-origin: center center;
        overflow: hidden;
    }

}
.h2-3{
    color: transparent;
	-webkit-text-stroke: 2px #F8F8FA;
    /* font-size: 125px; */
    font-weight: 800;
    font-family: sans-serif;
    position: relative;
    top: 95px;
    left: 50px;
    
}

/* section---3 */
#img3-1{
    height:100%;
    width:100%;
}
.h3-2{
    /* font-size: 80px; */
    font-weight: 800;
    font-family: sans-serif;
    
}
.h3-1{
    color: transparent;
	-webkit-text-stroke: 2px #F8F8FA;
    font-size: 90px;
    font-weight: 800;
    font-family: sans-serif;
    position: relative;
    top: 80px;
    left: 60px;
}
#row3-1{
    /* border: 2px solid black; */
    position: relative;
    bottom: 182px;
    right: 5px;
    
}
#col-3{
    /* border: 2px solid red; */
    background-color: #1F2B7B;
    color: white;
    padding-bottom: 30px;
    padding-top:30px ;
}
#col-3 h1{
    font-size: 60px;
}
#col-3 h6{
    font-size: 28px;
}

/* section---4 */


.h4-1{
    /* font-size: 60px; */
    font-weight: 800;
    font-family: sans-serif;
    
}
.h4-3{
    color: transparent;
	-webkit-text-stroke: 2px #F8F8FA;
    /* font-size: 125px; */
    font-weight: 800;
    font-family: sans-serif;
    position: relative;
    top: 95px;
    left: 20px;
    
}

.col4-1 a{
    color: black;
}
#a4-1{
    color: #FF5F13;
}
#card-4-1:hover{
    transition: 1.9s;
    background-color: #00235B;
    #card4-1{
        color: white;
        /* transition: 1.9s; */
    }
    .i4-1{
        background-color: #FF5F13;
        display:inline-block;
        transition: 1.9s;
    }
}
#card4-1{
    color: #0E132A;
    font-size: 35px;
}
.i4-1{
    position: relative;
    left: 40px;
    top: -46px;
    font-size: 50px;
    display: none;
}


/* section---5 */
.main5{
    background-image: url('section-bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.h5-1{
    /* font-size: 70px; */
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white; 
}
.h5-3{
    color: transparent;
	-webkit-text-stroke: 2px #284372;
    /* font-size: 125px; */
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 105px;
    left:10px;
    
}
.p5-1{
    color: white;
    font-weight: 600;
}
#btn5-1{
    background-color: white;
    width: 150px;
    height: 50px;    
}
#btn5-1:hover{
    background-color: #FF5F13;
    color: white;
    transition: 1.2s;
    border: none;
}
#row5-1{
    width: 100%;
    height: auto;
    background-image: url('section-bg3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
#counter{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 40px 0px;
    width: 100%;
  }
  #counter .item{
    width: 20%;
    padding: 35px 40px;
    margin: 10px;
    text-align: center;
    /* border: 2px solid ; */
  } 
  #counter .item .count{
    color: white;
    margin-bottom: 5px;
    /* font-size: 50px; */
  }
  #counter .item h3{
    color: white;
    text-transform: capitalize;
    /* font-size: 35px; */
  }
  #counter .item p{
    color:white;
    text-transform: capitalize;
  }

  /* section-----6 */
  .h6-1{
    /* font-size: 60px; */
    font-weight: 800;
    font-family: sans-serif;
    
}
.h6-3{
    color: transparent;
	-webkit-text-stroke: 2px #F8F8FA;
    /* font-size: 125px; */
    font-weight: 800;
    font-family: sans-serif;
    position: relative;
    top: 95px;
    left:20px;
    
}
#card6-1:hover{
    overflow: hidden;

    #img6{
        transform: scale(1.1);
        transition: 0.9s ease-in-out;
        transform-origin: center center;
        overflow: hidden;
    }

}
#card6-1 h6{
    color:#FF5F13;
}
#card6-1 b{
    color:#FF5F13;
    position: relative;
    bottom: 8px;
    font-weight: 800;
}
#card6-1 h3{
    font-weight: 800;    
}